:root {
  --main-accent-color: #1ed760;
  --main-lightdark-color: #d8d8d8;
  --main-lightpure-color: #ffffff;
  --main-darklight-color: #3d3d3d;
  --main-dark-color: #2c2c2c;
  --main-darkdarker-color: #202020;
}

.btn {
  border: solid thin var(--main-lightdark-color);
  color: var(--main-accent-color);
  height: 2.5rem;
  border-radius: 1.25rem;
}

.btn.solid {
  background-color: var(--main-accent-color);
  color: var(--main-lightdark-color);
  border: none;
}

.btn.more {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--main-lightdark-color);
}

.btn.focus {
  box-shadow: none;
}

body {
  background-color: lightgray;
  font-family: "Montserrat", sans-serif;
}

#container {
  background-color: lightblue;
}

/* ------------------------------------ BEGIN ASIDE NAV ------------------------------------ */

aside {
  background-color: var(--main-darkdarker-color);
  color: var(--main-lightdark-color);
  padding-top: 1rem;
}

aside h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

aside li {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  position: relative;
}

aside li.active {
  border-left: var(--main-accent-color) 0.3rem solid;
  left: -1rem;
  padding-left: 0.7rem;
}

aside li.active a {
  color: var(--main-lightpure-color);
}

aside li > a {
  color: var(--main-lightdark-color);
  display: block;
}

aside li > a:hover {
  color: var(--main-lightpure-color);
  text-decoration: none;
}

/* ------------------------------------ END ASIDE NAV ------------------------------------ */

main {
  background-color: lightcoral;
}

/* ------------------------------------ BEGIN MAIN HEADER ------------------------------------ */

main > header {
  background-color: var(--main-dark-color);
  background: linear-gradient(
    to bottom,
    rgba(122, 122, 122, 1) 0%,
    rgba(44, 44, 44, 1) 100%
  );
  color: var(--main-lightdark-color);
  height: 50px;
}

main > header > div {
  margin: auto 0px auto 0px;
}

main > header img {
  width: 2rem;
}

main > header form {
  display: inline;
}

main > header a {
  color: var(--main-lightdark-color);
}

main > header a:hover {
  color: var(--main-lightpure-color);
}

/* ------------------------------------ EINDE MAIN HEADER ------------------------------------ */

#content {
  background-color: lightskyblue;
}

#content > header {
  background-color: lightslategrey;
}

/* ------------------------------------ BEGIN SCROLL HEADER ------------------------------------ */

#content > div.scrolledsmall {
  background-color: var(--main-dark-color);
  display: none;
}

#content > div.scrolledsmall > div.row > div {
  margin: auto 0px auto 0px;
}

#content > div.scrolledsmall h1 {
  color: var(--main-lightdark-color);
  text-transform: capitalize;
}

#bevat article {
  background-color: lightgoldenrodyellow;
}

footer {
  background-color: lightgreen;
}
